<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>


        <b>Get Started:</b>1.Drop the images of your representatives, and don't forget to name it
                        <br>2.Paste the link of news that you think controversial, sibmit, and you can choose "Pro" or "Contra" about the news


