<html>
    <head>
        <title> </title>
        
    </head>
    
    <body>
    <div class="started">
        <b>Get Started:</b>1.Drop the images of your representatives, and don't forget to name it
                        <br>&nbsp;&nbsp;&nbsp;2.Paste the link of news that you think controversial, submit, and you can choose "Pro" or "Contra" about the news
</div>
        
    </body>
    
</html>
        

