h1, p, body, html {
    margin:0;
	padding:0;}
    
.tooltip {
    		border-bottom: 1px dotted #000000; color: #000000; outline: none;
			cursor: pointer; text-decoration: none;
			position: relative;
		}
		.tooltip span {
			margin-left: -999em;
			position: absolute;
		}
		.tooltip:hover span { 
			font-family: Calibri, Tahoma, Geneva, sans-serif;
			position: absolute; left: 2em; top: 4em; 
			margin-left: 0;
		}
		.classic { padding: 0px 10px; 
        background: #FFFFAA; 
        font-size:smaller;}

.logo{
background: url(/assets/img/logo.png) no-repeat;
width: 60px;
height: 48px;
float:left;
 }
 
 .container{
     background: #236a9b;
     width: 100%;
     height: 48px;
     margin: auto 0;
 }
 

.wrapmenu{
margin-left: auto;
margin-right: auto;
height: 50px;
width:960px;

}

.right{
    float:right;
    width: 40%;}

.eyes{
    background:url(/assets/img/eyes.png) no-repeat;
    width:60px;
    height:53px;
    position: absolute;
    z-index:1;
    cursor:pointer;
    margin-top: -7px;
    float:left;
    }
    
.eyes:hover, .eyes a:focus{
    background:url(/assets/img/eyeshover.png) no-repeat;
}



.heart{
    
    background:url(/assets/img/heart.png) no-repeat;
    width:60px;
    height:53px;
    position: absolute;
    z-index:1;
    cursor:pointer;
    margin-top: -4px;
    margin-left: 80px;
    float:left;
    }
    
.heart:hover{
     background:url(/assets/img/hearthover.png) no-repeat;
    }
    
    
    
    .trash{
    background:url(/assets/img/trash.png) no-repeat;
    width:60px;
    height:53px;
    position: absolute;
    z-index:1;
    cursor:pointer;
    margin-top: 1px;
    margin-left: 160px;
    float:left;
    }
    
 .trash:hover{
     background:url(/assets/img/trashhover.png) no-repeat;
    } 
    
.pro{
    background:url(/assets/img/pro.png) no-repeat;
    width:60px;
    height:53px;
    position: absolute;
    z-index:1;
    cursor:pointer;
    margin-top: 2px;
    margin-left: 240px;
    float:left;
    }
.pro:hover{
    background:url(/assets/img/prohover.png) no-repeat;
    }
    
.kontra{
    background:url(/assets/img/kontra.png) no-repeat;
    width:60px;
    height:53px;
    position: absolute;
    z-index:1;
    cursor:pointer;
    margin-top: 2px;
    margin-left: 310px;
    float:left;
    }
.kontra:hover{
    background:url(/assets/img/kontrahover.png) no-repeat;
    }
        
    
    
    
.tagline{
color: #ffffff;
font-size: smaller;
float:left;
padding-top: 14px;
}


.space {
padding-top: 10px;

}
