h1, p, body, html {
    margin:0;
	padding:0;
    font-family: ‘PTSans’,Trebuchet MS, Helvetica, sans-serif;
}
    
@font-face {
  font-family: PTSans.ttc;
  src: url(/assets/fonts/PTSans.ttc);
}
    
.tooltip {
    		border-bottom: 1px dotted #000000; color: #000000; outline: none;
			text-decoration: none;
			position: absolute;
		}
		.tooltip span {
			margin-left: -999em;
			position: absolute;
		}
		.tooltip:hover span { 
			font-family: Calibri, Tahoma, Geneva, sans-serif;
			position: absolute; left: 2em; top: 5.5em; 
			margin-left: 0;
		}
        
        .tooltip2 {
        	border-bottom: 1px dotted #000000; color: #000000; outline: none;
			text-decoration: none;
			position: absolute;
            
		}
		.tooltip2 span {
			margin-left: -999em;
			position: absolute;
            
           
		}
		.tooltip2:hover span { 
			font-family: Calibri, Tahoma, Geneva, sans-serif;
			position: absolute; left: 2em; top: 5.5em; 
            margin-left: 90;
            
		}
        
           .tooltip3 {
            border-bottom: 1px dotted #000000; color: #000000; outline: none;
			text-decoration: none;
			position: absolute;
            
		}
		.tooltip3 span {
			margin-left: -999em;
			position: absolute;
            
           
		}
		.tooltip3:hover span { 
			font-family: Calibri, Tahoma, Geneva, sans-serif;
			position: absolute; left: 2em; top: 5.5em; 
            margin-left: 160;
            
		}   .tooltip4 {
            border-bottom: 1px dotted #000000; color: #000000; outline: none;
			text-decoration: none;
			position: absolute;
            
		}
		.tooltip4 span {
			margin-left: -999em;
			position: absolute;
            
           
		}
		.tooltip4:hover span { 
			font-family: Calibri, Tahoma, Geneva, sans-serif;
			position: absolute; left: 2em; top: 5.5em; 
            margin-left: 230;
            
		}   .tooltip5 {
            border-bottom: 1px dotted #000000; color: #000000; outline: none;
			text-decoration: none;
			position: absolute;
            
		}
		.tooltip5 span {
			margin-left: -999em;
			position: absolute;
            
           
		}
		.tooltip5:hover span { 
			font-family: Calibri, Tahoma, Geneva, sans-serif;
			position: absolute; left: 2em; top: 5.5em; 
            margin-left: 300;
            
		}
.classic { padding: 0.1px 5px; 
        background: #FFFFAA; 
        box-shadow: 0.1px 0.1px 0.5px black;
        font-size:xx-small;}
        
        

.logo{
background: url(/assets/img/logo.png) no-repeat;
width: 60px;
height: 48px;
float:left;
 }
 
 .container{
     background: #236a9b;
     width: 100%;
     height: 48px;
     margin: auto 0;
 }
 

.wrapmenu{
margin-left: auto;
margin-right: auto;
height: 50px;
width:960px;

}

.right{
    float:right;
    width: 40%;}

.eyes{
    background:url(/assets/img/eyes.png) no-repeat;
    width:60px;
    height:53px;
    position: absolute;
    z-index:1;
    cursor:pointer;
    margin-top: -7px;
    float:left;
    }
    
.eyes:hover, .eyes a:focus{
    background:url(/assets/img/eyeshover.png) no-repeat;
}



.heart{
    
    background:url(/assets/img/heart.png) no-repeat;
    width:60px;
    height:53px;
    position: absolute;
    z-index:1;
    cursor:pointer;
    margin-top: -4px;
    margin-left: 80px;
    float:left;
    }
    
.heart:hover{
     background:url(/assets/img/hearthover.png) no-repeat;
    }
    
    
    
    .trash{
    background:url(/assets/img/trash.png) no-repeat;
    width:60px;
    height:53px;
    position: absolute;
    z-index:1;
    cursor:pointer;
    margin-top: 1px;
    margin-left: 160px;
    float:left;
    }
    
 .trash:hover{
     background:url(/assets/img/trashhover.png) no-repeat;
    } 
    
.pro{
    background:url(/assets/img/pro.png) no-repeat;
    width:60px;
    height:53px;
    position: absolute;
    z-index:1;
    cursor:pointer;
    margin-top: 2px;
    margin-left: 240px;
    float:left;
    }
.pro:hover{
    background:url(/assets/img/prohover.png) no-repeat;
    }
    
.kontra{
    background:url(/assets/img/kontra.png) no-repeat;
    width:60px;
    height:53px;
    position: absolute;
    z-index:1;
    cursor:pointer;
    margin-top: 2px;
    margin-left: 310px;
    float:left;
    }
.kontra:hover{
    background:url(/assets/img/kontrahover.png) no-repeat;
    }
        
    
    
    
.tagline{
color: #ffffff;
font-size: smaller;
float:left;
padding-top: 14px;
}


.space {
padding-top: 30px;

}

.footer {
 background: #2f2f30;
     width: 100%;
     height: 183px;
     margin: auto 0;
     
    }

