.logo{
background: url(/assets/img/logo.png) no-repeat;
width: 60px;
height: 48px;
margin-top: -10px;
float:left;
margin-left: -10px;
 }
 
 
.header{
 background: url(/assets/img/headerbg.png) scroll 0 0 transparent repeat;
    height: 48px;
    width: auto;
    line-height: 30px;
    margin: 0;
    padding: 0;
    color:#236a9b;
}