<html>
<head>
<title>

Pencitraan.com | Because Voice of Citizens is an Absolute

</title>

<link rel="stylesheet" href="libranews/public/assets/css/main.css" type="text/css" media="screen" />
<link REL="SHORTCUT ICON" HREF="libranews/public/assets/img/under/pencitraanico.ico">
</head>

<body>
<center>
<div class="pencitraan"></div>
</center>

<center>
<div class="under"></div>
</center>

<center>
<div class="launch"><a href="#"></a></div>
</center>

</body>





</html>


