<html>

<head>
<title> Pencitraan.com | Because Voice of Citizens is an Absolute</title>
    
    <link rel="stylesheet" href="/assets/css/menu.css" type="text/css" media="screen" />
    <link REL="SHORTCUT ICON" HREF="/assets/img/under/pencitraanico.ico">
</head>

<body style="background-color: #f1f1f1;"> 
<div class="container">
        <div class="wrapmenu">
                <div class="logo"></div>
                <div class="tagline"><i>Revolutionary way to check the capability of your representatives</i></div>
                        <div class="right">
                                 <a class="tooltip" href="/"><div class="eyes"></div></a>
                                 <a class="tooltip" href="/love"><div class="heart"></div></a>
                                <a class="tooltip" href="/hate"><div class="trash"></div></a>
                               <a class="tooltip" href="pro"> <div class="pro"></div></a>
                                <a class="tooltip" href="/kontra"><div class="kontra"></div></a>
                        </div>
        </div>
        <div id="wrapper" style="background-color: #fff; margin: 30px; height: 500px; padding: 20px;">
            <%= yield %>
        </div>
</div>


    
</body>

</html>


