<html>

<head>
<title> Pencitraan.com | Because Voice of Citizens is an Absolute</title>
    
    <link rel="stylesheet" href="/assets/css/menu.css" type="text/css" media="screen" />
    <link REL="SHORTCUT ICON" HREF="/assets/img/under/pencitraanico.ico">
</head>

<body style="background-color: #f1f1f1;"> 
<div class="container">
        <div class="wrapmenu">
                <a href="/"><div class="logo"></div></a>
                <div class="tagline"><i>Revolutionary way to check the capability of your representatives</i></div>
                        <div class="right">
                                 <a class="tooltip" href="/"><span class="classic">GETSTARTED</span><div class="eyes"></div></a>
                                 <a class="tooltip2" href="/love"><span class="classic">IDOL</span><div class="heart"></div></a>
                                <a class="tooltip3" href="/hate"><span class="classic">NOT-IDOL</span><div class="trash"></div></a>
                               <a class="tooltip4" href="pro"> <span class="classic">PRO-NEWS</span><div class="pro"></div></a>
                                <a class="tooltip5" href="/kontra"><span class="classic">CONTRA-NEWS</span><div class="kontra"></div></a>
                        </div>
        </div>
        <div class="space">
            
            
        </div>
        <div id="wrapper" style="background-color: #fff;  margin: 30 auto 0 auto; width: 800px;Overflow: auto ;
; height: 700px; padding: 20px; margin-bottom: 30px;">
            <%= yield %>
        </div>
        <div class="footer"></div>
</div>



    
</body>

</html>













